[submodule "ios-analytics"]
  path = submodules/ios-analytics
  url = https://github.com/vovagalchenko/ios-analytics.git
[submodule "server/webapp"]
	path = server/webapp
	url = https://github.com/DianaSuvorova/Nja.git
