# os
profile
.DS_Store

# xcode
build/*
/build/*
app/build/*
*.pbxuser
xcuserdata
*.xccheckout

*.class
*.log

# python compiled files
*.pyc

# sbt specific
backend/.idea/scopes/
backend/.idea/dictionaries/
backend/.idea/inspectionProfiles/
backend/.idea/libraries/
backend/.idea/modules/
backend/.idea/.name
backend/.idea/*.xml
!backend/.idea/vcs.xml
!backend/.idea/uiDesigner.xml

.cache/
.history/
.lib/
dist/*
backend/target/
backend/project/target/
backend/project/project/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
server/data
server/environment.conf

#APNS certs
/backend/certs/

# Scala-IDE specific
.scala_dependencies
.worksheet

*/.idea/scopes/
*/.idea/dictionaries/
*/.idea/inspectionProfiles/
*/.idea/workspace.xml
*/.idea/codeStyleSettings.xml
*/.idea/scala_compiler.xml
/classes
/dist
/backend/out
/SDK/*SDK
/*.bat
*/.idea/workspace.xml
*/.idea/highlighting.xml
*/.idea/libraries
*.class
out
build
*~
